<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <h1>Short Url</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <form class="form-inline" action="/" method="POST">
        <div class="input-group w-100">
          <input type="text" class="form-control" id="urlOriginal">
          <div class="input-group-append">
            <buton type="button" value="Add" class="btn btn-primary" onclick="registrarUrl()">Acortar</buton>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="generated_url">
      <p id="url"></p>
  </div>
  <div class="row">
    <div class="col-lg-12">
      {{#each urls}}
      <div id="{{id}}" class="card my-3 bg-light">
        <div class="card-body">
          <p class="card-text">URL Original: {{ original_url }}</p>
          <p>URL Corta: <a href={{short_url}}>{{short_url}}</a></p>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</main>